.full-screen-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  align-items: center;
  background-color: #af9cf3;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 3.5rem;
  }

  @media screen and (max-width: 767px) {
  }
}

.top-image-container {
  height: 100px;
  width: 100%;
}

.top-image-container > img {
  width: 100%;
}

.main-content-container {
  /* position: relative; */
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 80px;
  padding-top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding: 40px;
  }
}
.progress-main {
  position: relative;
  height: 100px;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 100px;
  }
  @media screen and (max-width: 767px) {
    height: 80px;
  }
}
.question {
  font-family: Nunito;
  font-size: 30px;
  font-weight: 900;
  line-height: 56px;
  text-align: center;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    line-height: 38px;
  }
  @media screen and (max-width: 767px) {
    font-size: 25px;
    line-height: 30px;
  }
}

.options {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
    gap: 15px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 20px;
  }
  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}

.btn-option {
  background-color: #f3f3f3;
  color: #333;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 18px;
    line-height: 25px;
  }
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn-option.selected {
  background-color: #f3f4fa;
  border: 4px solid #44b77b;
  padding: 7.5px 20px;
  padding-left: 16px;
}

.btn-option.correct {
  background-color: #f3f4fa;
  border-color: #28a745;
  /* color: #155724; */
}

.next-btn {
  position: fixed;
  width: 670px;
  bottom: 15px;
  padding: 20px 30px;
  background: #ff3b3f;
  border-radius: 60px;
  color: white;
  font-size: 36px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

.btn-text {
  flex-grow: 1;
  text-align: center;
}

.btn-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .next-btn {
    width: 500px;
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .next-btn {
    max-width: 350px;
    font-size: 20px;
  }
}

.next-btn:disabled {
  background: #f16567;
  cursor: not-allowed;
}

.option {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

input[type="radio"] {
  appearance: none;
  background-color: #f3f3f3;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 32px;
  height: 32px;
  border: 4px solid rgb(0, 0, 0, 0.2);
  border-radius: 50%;
}

input[type="radio"]:checked {
  border: 4px solid #28a745;
  border-radius: 50%;
  background-color: #28a745;
  width: 30px;
  height: 30px;
}

.option > span {
  position: absolute;
  transform: translate(40%, 2%);
  color: white;
  @media screen and (max-width: 767px) {
    transform: translate(60%, 3%);
  }
}
